name: crypto_price_tracker
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0            # Para sa API calls (CoinGecko)
  shared_preferences: ^2.2.2  # Para sa favorites storage at theme saving
  fl_chart: ^0.66.1       # Para sa charts
  google_generative_ai: ^0.2.2 # Para sa AI analysis (Gemini API)
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true